<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<%- include('partials/_header') %> %>
<div class="bg-image" style="background-image: url('https://i.pinimg.com/originals/f7/51/d6/f751d68b8aad69d0b8048992096df64f.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; height: 900px;">
  
  <div class="text-light text-shadow p-4 d-flex justify-content-center">
    <h1 class="col-lg-7 display-5 text-center " id="titul" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Apartamentos amoblados por días, semanas y meses</h1>
  </div>

  <div class="justify-content-center d-flex mt-3">
    <ul class="list-group text-center d-grid gap-2 col-lg-2 col-6">
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/buenavista" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Buenavista</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/ciudad-jardin" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Ciudad Jardin</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/granadillo" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Granadillo</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/la-campina" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">La Campiña</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/paraiso" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Paraiso</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/tivoli" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Tivoli</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/villa-carolina" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Villa Carolina</h4></a></li>
=======
<%- include('partials/_header') %> %>
<div class="bg-image" style="background-image: url('https://www.wradio.com.co/resizer/v2/4W6Y44XNYVELZDLIJY43AQQ5R4.JPG?auth=fb5d6449b30edf568d29ae525edcd8a875d25a56cef8fb64af0b600443be52de&width=650&height=488&quality=70&smart=true'); background-repeat: no-repeat; background-size: cover;height: 740px;">
  <div class="text-center text-light bg-primary p-4">
    <h1 class="" id="titul">Apartamentos amoblados por días, semanas y meses</h1>
  </div>

  <div class="justify-content-center d-flex mt-4">
    <ul class="list-group text-center">
      <li type="button"><a href="/ciudad-jardin" class="btn btn-lg"><h4 class="p-1 text-light">Ciudad Jardin</h4></a></li>
      <li type="button"><a href="/granadillo" class="btn btn-lg"><h4 class="p-1 text-light">Granadillo</h4></a></li>
      <li type="button"><a href="/ciudad-jardin" class="btn btn-lg"><h4 class="p-1 text-light">La Campiña</h4></a></li>
      <li type="button"><a href="/ciudad-jardin" class="btn btn-lg"><h4 class="p-1 text-light">Paraiso</h4></a></li>
      <li type="button"><a href="/ciudad-jardin" class="btn btn-lg"><h4 class="p-1 text-light">Tivoli</h4></a></li>
      <li type="button"><a href="/ciudad-jardin" class="btn btn-lg"><h4 class="p-1 text-light">Villa Carolina</h4></a></li>
>>>>>>> varias

    </ul>
  </div>
</div>
<<<<<<< HEAD

<br><br><br>


</body>
</html> 
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AREVALO URIBE</title>
</head>
<body>
=======
<%- include('partials/_header') %>

>>>>>>> prueba maestra
  <h1>FAMILIA AREVALO URIBE</h1>
  <button><a href="/luisfer">LUISFER</a></button>
</body>
</html>
>>>>>>> vamos entendiendo
=======

</body>
</html> 
>>>>>>> varias
