<%- include('partials/_header') %> %>
<div class="container" style="width: 100%;">

  <div class="bg-image" style="background-image: url('https://i.pinimg.com/originals/f7/51/d6/f751d68b8aad69d0b8048992096df64f.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; min-height: 100vh;">

  <br>  <br>
  <div class="text-light text-shadow p-4 d-flex justify-content-center">
    <h1 class="display-5 text-center" id="titul" style="font-size: x-large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">APARTAMENTOS AMOBLADOS</h1>
  </div>

  <div class="justify-content-center d-flex mt-3">
    <ul class="list-group text-center d-grid gap-2 col-lg-2 col-6">
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/buenavista" class="btn"><p class="text-light" style="font-size: large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Buenavista</p></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/ciudad-jardin" class="btn"><h4 class="text-light" style="font-size: large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Ciudad Jardin</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/granadillo" class="btn"><h4 class="text-light" style="font-size: large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Granadillo</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/la-campina" class="btn"><h4 class="text-light" style="font-size: large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">La Campiña</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/paraiso" class="btn"><h4 class="text-light" style="font-size: large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Paraiso</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/tivoli" class="btn"><h4 class="text-light" style="font-size: large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Tivoli</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/villa-carolina" class="btn"><h4 class="text-light" style="font-size: large; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Villa Carolina</h4></a></li>
    </ul>
  </div>

</div>

  
</div>

</body>
</html> 
