.foto{
    width: 420px;
  } 
  
  .contenedor-foto{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  h5{
    margin: 15px 20px 0 20px;
    font-size: 1.5em;
    text-align: justify;
  }
  
  @media(max-width: 430px){
  
    h5{
      margin: 15px 20px 0 20px;
      font-size: 1.5em;
      text-align: justify;
    }
    h6{
      margin: 15px 20px 0 20px;
      font-size: 1em;
      text-align: justify;
    }
    p{
      margin: 2px 20px 12px 20px;
      font-size: 1em;
      text-align: justify;
    }
    .texto-apoyo{
      font-size: 1.5em;
      font-weight: 500;
    }
    .contenedor-camas{
      display: flex;
    }
    .info-cama{
      width: 185px;
      border: 0.5px solid gray;
      border-radius: 10px;
      margin: 7px auto 25px auto;
    }
    .texto-amenid{
      line-height: 30px;
    }
    .titulo-amenidades{
      font-weight: 800;
      list-style: none;
      margin: 25px 20px 15px 0;
  
    }
    .formato-amenid{
      margin: 10px 20px 0 40px;
      font-size: 1em;
      text-align: justify;
      list-style: none;
    }
    .model2{
      margin-top: 200px;
    }
  }