
@media(max-width: 430px){
  .container-fotos{
    aspect-ratio: 16/9;
    width: 430px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }
  .foto{
    width: 100%;
    left: 0;
    position:sticky;
    object-fit: cover;
    scroll-snap-align: center;
  }
}